<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @player_game.player_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @player_game.position %>
</p>

<p>
  <strong>Team:</strong>
  <%= @player_game.team %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @player_game.cost %>
</p>

<p>
  <strong>Point last round:</strong>
  <%= @player_game.point_last_round %>
</p>

<p>
  <strong>Total points:</strong>
  <%= @player_game.total_points %>
</p>

<p>
  <strong>Average points:</strong>
  <%= @player_game.average_points %>
</p>

<p>
  <strong>Yellow cards:</strong>
  <%= @player_game.yellow_cards %>
</p>

<p>
  <strong>Transfers out:</strong>
  <%= @player_game.transfers_out %>
</p>

<p>
  <strong>Yellow cards:</strong>
  <%= @player_game.yellow_cards %>
</p>

<p>
  <strong>Goals scored:</strong>
  <%= @player_game.goals_scored %>
</p>

<p>
  <strong>Saves:</strong>
  <%= @player_game.saves %>
</p>

<p>
  <strong>Value season:</strong>
  <%= @player_game.value_season %>
</p>

<p>
  <strong>Transfers out:</strong>
  <%= @player_game.transfers_out %>
</p>

<p>
  <strong>Price rise:</strong>
  <%= @player_game.price_rise %>
</p>

<p>
  <strong>Last season points:</strong>
  <%= @player_game.last_season_points %>
</p>

<p>
  <strong>Value form:</strong>
  <%= @player_game.value_form %>
</p>

<p>
  <strong>Penalties missed:</strong>
  <%= @player_game.penalties_missed %>
</p>

<p>
  <strong>Form:</strong>
  <%= @player_game.form %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @player_game.bonus %>
</p>

<p>
  <strong>Selected by percent:</strong>
  <%= @player_game.selected_by_percent %>
</p>

<p>
  <strong>Transfers in:</strong>
  <%= @player_game.transfers_in %>
</p>

<p>
  <strong>Minutes played:</strong>
  <%= @player_game.minutes_played %>
</p>

<p>
  <strong>Transfers in round:</strong>
  <%= @player_game.transfers_in_round %>
</p>

<p>
  <strong>Red cards:</strong>
  <%= @player_game.red_cards %>
</p>

<p>
  <strong>Bps:</strong>
  <%= @player_game.bps %>
</p>

<p>
  <strong>Forecast:</strong>
  <%= @player_game.forecast %>
</p>

<%= link_to 'Edit', edit_player_game_path(@player_game) %> |
<%= link_to 'Back', player_games_path %>
